<h1>admin new商品ページ</h1>
<%= form_with model: @item, url: admin_items_path do |f| %>
<table>
  <tr>
    <th><%= f.file_field :image %></th>
  </tr>
  <tr>
    <th>商品名</th>
    <th><%= f.text_field :name %></th>
  </tr>
  <tr>
    <th>商品説明</th>
    <th><%= f.text_field :introduction %></th>
  </tr>
  <tr>
    <th>ジャンル</th>
    <!--ジャンルcontroller作成してから-->
  </tr>
  <tr>
    <th>税抜価格</th>
    <th><%= f.text_field :without_tax %></th>
  </tr>
  <tr>
    <th>販売ステータス</th>
    <th>
      <%= f.radio_button :is_active, true %>
      <%= f.label '販売中' %>
    </th>
    <th>
      <%= f.radio_button :is_active, false %>
      <%= f.label '販売停止中' %>
    </th>
  </tr>
</table>
<div>
  <%= f.submit "新規登録" %>
</div>
<% end %>
