  <div class="container">
    <h2>新規会員登録</h2>
      <div class="row-justify-content-center">
        <div class="col-xs-offset-1 col-xs-11">
          <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
          <%= render "customer/shared/error_messages", resource: resource %>
            <table class = "table table-border">
              <tr>
                <td><%= f.label :"名前" %></td>
                <td>
                  <%= f.label :"(姓)" %>
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "name" %>
                  <%= f.label :"(名)" %>
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "name" %>
                </td>
              </tr>

              <tr>
                <td><%= f.label :"フリガナ" %></td>
                <td>
                  <%= f.label :"(セイ)" %>
                  <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "name" %>
                  <%= f.label :"(メイ)" %>
                  <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "name" %>
                </td>
              </tr>

              <tr>
                <td> <%= f.label :"メールアドレス" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              </tr>

              <tr>
                <td><%= f.label :"郵便番号（ハイフンなし）" %></td>
                <td><%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %></td>
              </tr>

              <tr>
                <td><%= f.label :"住所" %></td>
                <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
              </tr>


              <tr>
                <td><%= f.label :"電話番号" %></td>
                <td><%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
              </tr>


              <tr>
                <td><%= f.label :"パスワード" %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                  <% end %><br/>
                </td>
                <td>
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </td>
              </tr>

              <tr>
                <td><%= f.label :"パスワード（確認用）" %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>

              <tr>
                <td><%= f.submit "新規登録" %></td>
                <td></td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
      <%= render "customer/shared/links" %>
  </div>


