  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-danger text-center">Order history detail</h1>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td class="text-center table-warning">購入者</td>
              <td><%= @order.customer.first_name + @order.customer.last_name %></td>
            </tr>
            <tr>
              <td class="text-center table-warning">注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td class="text-center table-warning">配送先</td>
              <td>
              〒<%= @order.shipping_postal_code %>
                <%= @order.shipping_address %></br>
                <%= @order.shipping_name %>
              </td>
            </tr>
            <tr>
              <td class="text-center table-warning">支払方法</td>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <td class="text-center table-warning">注文ステータス</td>
              <td>
                <%= form_with model: @order, url:admin_order_path, method: :patch  do |f| %>
                  <%= f.select :status, Order.statuses_i18n.invert %>
                  <%= f.submit "更新", class: "btn btn-outline-light bg-success" %>
                <% end %>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <!--注文した商品一覧-->
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <table class = "table table-bordered">
          <thead>
            <tr>
              <td class="table-warning text-center">商品名</td>
              <td class="table-warning text-center">単価（税込）</td>
              <td class="table-warning text-center">個数</td>
              <td class="table-warning text-center">小計</td>
              <td class="table-warning text-center">制作ステータス</td>
              <td class="table-warning text-center"></td>
            </tr>
          </thead>
          <tbody>
            <% @order.order_details.each do |order_detail| %>
            <tr>
              <td class="text-center"><%= order_detail.item.name %></td>
              <td class="text-center"><%= order_detail.price %></td>
              <td class="text-center"><%= order_detail.quantity %></td>
              <td class="text-center"><%= order_detail.price * order_detail.quantity %></td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
              <td class="text-center"><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %></td>
              <td class="text-center"><%= f.submit "更新", class: "btn btn-outline-light bg-success" %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>



