<div class="row mt-5">
  <div class="col">
    <h1 class="text-info text-center">配送先編集</h1>
  </div>
</div>
<div class="row">
  <div class="mx-auto">
    
    <%= form_with model: @shipping_address, url: shipping_address_path, method: :patch  do |f| %>
    <table class="table">
        <tr class="h5">
          <th><%= f.label :"郵便番号（ハイフンなし）" %></th>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
        </tr>
        <tr class="h5">
          <th><%= f.label :"住所" %></th> 
          <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
        </tr>
        <tr class="h5">
          <th><%= f.label :"宛名" %></th>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.submit "変更内容を保存",class: "h5 btn btn-outline-success rounded-pill btn-lg d-block mx-auto" %></td>
        </tr>  
    </table>
    <% end %>
  </div> 
</div>    