  <div class="container">
    <h1>Shopping Cart</h1>
    <%= button_to "全て削除", destroy_all_cart_items_path, method: :delete, date: {confirm: "ほんまに削除しますか?" }, class: "btn btn-outline-danger" %>
      <div class="row">
        <div class="col-sm">
          <table class="table table-bordered">
            <thead class="table-warning">
              <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th class="colspan-1"></th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td><%= cart_item.item.name %></td>
                  <td><%= cart_item.item.with_tax_price %></td>
                  <td>
                    <%= form_with model: cart_item, url: cart_item_path(cart_item.item.id), local:true do |f| %>
                    <%= f.select :quantity, *[1..10], { selected: cart_item.quantity }%>
                    <%= f.submit "変更", class: 'btn btn-outline-secondary' %>
                    <% end %>
                  </td>
                  <td><%= cart_item.subtotal %></td>
                  <td><%= link_to "削除", cart_item, method: :destroy, date: {confirm: "ほんまに削除しますか?" }, class: "btn btn-outline-danger destroy_all_cart_items" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="table table-bordered">
            <div class="container">
              <div class="row justify-content-end">
                <div class="col-sm">
                  <tbody>
                    <tr>
                      <td>合計金額</td>
                      <td><%= @total %></td>
                    </tr>
                  </tbody>
                </div>
              </div>
            </div>
          </table>
        </div>
      </div>
  </div>
<%= form_with model: @order, url: new_order_path, local:true do |f| %>
    <%= f.submit "報入力に進む", class: 'btn btn-outline-info' %>
<% end %>