  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/ "style="font-family: cursive;">:+**+:｡.｡:+*ﾟ*+NAGANO CAKE゜ﾟ*+｡:+ *+</a>
      <%= image_tag 'cake-logos.png',size: "100x100" %>
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>

              <nav class="nav navbar-nav text-white mt-1 mr-5">
                <span class="customer-name text-muted">
                ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！
                </span>
              </nav>

              <li class="nav-item mx-3">
                <%= link_to customers_mypage_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-user fa-2x"></i>マイページ
                <% end %>
              </li>

              <li class="nav-item mx-3">
                <%= link_to items_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-birthday-cake fa-2x"></i>商品一覧
                <% end %>
              </li>

              <li class="nav-item mx-3">
                <%= link_to cart_items_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-shopping-cart fa-2x"></i>カート
                <% end %>
              </li>

              <li class="nav-item mx-3">
                <%= link_to destroy_customer_session_path, method: :delete, class: 'btn btn-outline-secondary' do %>
                 <i class="fas fa-sign-out-alt  fa-2x"></i>ログアウト
                <% end %>
              </li>

            <% elsif admin_signed_in? %>

              <li class="nav-item mx-3">
                <%= link_to admin_items_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-birthday-cake fa-2x"></i>商品一覧
                <% end %>
              </li>

              <li class="nav-item mx-3">
                <%= link_to admin_customers_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-users fa-2x"></i>会員一覧
                <% end %>
              </li>

              <li class="nav-item mx-3">
                <%= link_to admin_orders_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-file-alt fa-2x"></i>注文履歴一覧
                <% end %>
              </li>

              <li class="nav-item mx-3">
                <%= link_to admin_genres_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-bars fa-2x"></i>ジャンル一覧
                <% end %>
              </li>

              <li class="nav-item mx-3">
                <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary' do %>
                 <i class="fas fa-sign-out-alt fa-2x"></i>ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item mx-3">
                <%= link_to homes_about_path, class: 'btn btn-outline-secondary' do %>
                <i class="fas fa-grin-wink fa-2x"></i>About
                <% end %>
              </li>
              <li class="nav-item mx-3">
                <%= link_to items_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-birthday-cake fa-2x"></i>商品一覧
                <% end %>
              </li>
              <li class="nav-item mx-3">
                <%= link_to new_customer_registration_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-user-plus fa-2x"></i>新規登録
                <% end %>
              </li>
              <li class="nav-item mx-3">
                <%= link_to new_customer_session_path, class: 'btn btn-outline-secondary' do %>
                  <i class="fas fa-sign-in-alt fa-2x"></i>ログイン
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
    </nav>
  </header>